* {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}
.imgbox {
  padding-top: 10px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.center-fit {
  width: 100%;
  height: 500px;
  margin: auto;
  float:left;
}
.trianglediv{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(156, 162, 161);
}

.moveButtons{
  height: 100%;
  float: left;
  width:50px;
  background-color:rgb(138, 128, 115);
}

.arrow{
  background-color:rgb(138, 128, 115);
}
.moveButtons:hover .arrow{
  background-color: #4CAF50;
  color: white;
}

.moveButtons:hover{
  background-color: #4CAF50;
  color: white;
}

.moveButtons[disabled]{
  pointer-events: none;
}

.topContent{
  display: flex;
  justify-content: center;
  height: 500px;
}

.allContent{
  height:100%;
  width: 80%;
}

.bottomContent{
  display:flex;
}
.promptDiv{
  border-color: black;
  border-style: solid;
  height: fit-content;
  min-height: 300px;
  flex:1
}

.rightDiv{
  border-color: black;
  border-style: solid;
  height:300px;
  min-height: 300px;
  flex:1
}

.prompt{
  white-space: initial;
  padding:10px;
}

.promptTitle{
  display: inline-block;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font-size: 23px;
  padding-top: 5px;

}

.hintsDiv{
  border-bottom: solid;
  border-color: black;
  height:50%;
  text-align: center;

}
.buttons{
  padding-top:5px;
  padding-left:50px;
  padding-right:50px
}

.buttons button{
  height: 40px;
  width: 60px;
  border-radius: 20px;
}

.hintText{
  padding:20px;
  text-align:center;
}

.inputDiv{
  height: 50%;
}

.form{
  text-align: center;
  padding-top:30px
  
}

.inputDiv{
  border-bottom: solid;
  border-color:black;
}

.backbtn{
  padding:5px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 7px;
}

.question{
  text-align: center;
  margin-top: 25px;
  font-weight: 700;
}